/* css */

/* 
    gris oscuro = #1d252c
    gris claro = #1b2127
    celeste = #026fff




*/


body {
    margin: auto;
    padding: 0%;
    font-family: 'PT Sans', sans-serif;
}

h1 ,h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
}

h1 strong {
color: #026fff;
}


.list-header {
    z-index: 1;
    display: flex;
    position: fixed;
    top: 0px;
    height: 70px;
    background-color: #1d252c;
    width: 100%;
    justify-content: space-between;
}

.list-img {
    margin: 0;
    height: inherit;
    padding: 0px 10px 0px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.list-img img:hover {
    filter: invert(100%);
    scale: (1.1);
}


.list-nav {
    display: flex;
    height: inherit;
    padding-right: 40px;
}

.list-header ul {
    display: flex;
    height: inherit;
    margin: 0%;
    padding: 0%;
  }

  .list-header li {
    list-style:none;
    height: inherit;
}

.list-header a {
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0px 10px 0px;
}




/* fin de nav */

.first-section {
    margin-top: 60px;
    height: 380px;
    background-color: #1b2127;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


.title-first-section {
    line-height: 40px;
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
    margin: 10px 20px;
    padding: 5px 20px;
    color: white;
}

.porfolio-article {
    border: 1px solid grey;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 20px;
    margin: 10px 20px;
    padding: 5px 20px;
    display: block;
}

.jobs-article {
    border: 1px solid black;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 20px;
    margin: 30px 15px;
    padding: 5px 0px;
    display: inline-flex;
    box-sizing: border-box;
    width: 475px;
    height: 180px;
    text-align: left;
    background-color: white;
}

.jobs {
    text-align: center;
}

.jobs .jobs-header {
    text-align: left;
}

.jobs-img {
    display: inline-block;
}

/* .jobs-details {
    display: inline-block;
    width: 270px;
}
 */
.jobs-link {
    color: blue;
}

.link-tlc {
    color: #00afef;
    text-decoration: none;
}

.link-movi {
    color: #5bc500;
    text-decoration: none;
}

.link-orbt {
    color: #023e92;
    text-decoration: none;
}



h2 {
    display: block;
    font-weight: bold;
    margin: auto;
    padding: 20px 20px;
}

#portfolio {
    background-color: mintcream;
    margin: auto;
    padding: 2px 15px;
}

.jobs {
    background-color: #e5fff1;
    margin: auto;
    padding: 2px 15px;
}

.cert-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    flex-direction: column;
}

.cert-box {
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
    padding: 4px 15px 8px;
/*     width: 500px; */
/*     height: 370px; */
    margin: 10px 10px 20px;
}

.cert-curso-img {
    width: 450px;
    height: 250px;
    }

.cert-diploma {
    margin: 5px;
    pad: 1px;
}


.footer {
    display: flex;
    width: 100%;
    height: 70px;
    margin: 0;
    background-color: seagreen;
    justify-content: space-evenly;
}

.cert-sl, .cert-ap, .cert-pl {
    display: flex;
}


footer div  {
    height: inherit;
    display: flex;
    align-items: center;
}

footer div p {
    margin: 0%;
}

footer .footer-date {
    height: inherit;
}

@media screen and (min-width:1050px) {
    .first-section {
        width: 100%;
    }
    .cert-curso-img {
        width: 450px;
        height: 250px;
        }
        .list-container li:hover {
            background-color: white;
        }
        
        ul li a:hover {
            height: inherit;
            color: black;
            transform: scale(1.2);
        }
        .cert-sl, .cert-ap, .cert-pl {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .cert-box {
            border: 1px solid black;
            border-radius: 20px;
            background-color: white;
            padding: 4px 15px 8px;
            height: auto;
            width: min-content;
            margin: 10px 10px 20px;
            
}

}

@media screen and (max-width:1024px) {
    .img-first-section {
        height: 180px;
        width: 320px;
        margin: 10px 20px;
    }
    .cert-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .cert-box {
        border: 1px solid black;
        border-radius: 20px;
        background-color: white;
        padding: 4px 15px 8px;
        height: auto;
        width: min-content;
        margin: 10px 10px 20px;
}
.cert-ap,
.cert-sl,
.cert-pl {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
    .cert-curso-img {
        width: 450px;
        height: 250px;
        }
        .jobs-details {
            padding: 3px;
            margin: 2px;
        }
        .list-container li:hover {
            background-color: white;
        }
        
        ul li a:hover {
            height: inherit;
            color: black;
        }
}

@media screen and (max-width:768px) {
    .cert-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img-first-section {
        height: 180px;
        width: 320px;
        margin: 10px 20px;
        position: relative;
        top: 5px;
    }
    .list-container li:hover {
        background-color: white;
    }
    
    ul li a:hover {
        height: inherit;
        color: black;
    }
    .cert-curso-img {
        width: 450px;
        height: 250px;
        }

        .jobs-details {
            padding: 3px;
            margin: 2px;
        }

        /* PARA HACER MENU DESPLEGABLE CON MEDIA QUERIES */


      /*   .list-header {
            display: block;
        }

        .list-nav {
            display: block;
            height: 90px;
            padding-right: 00px;
            background-color: #1d252c;
        }

        .list-header ul {
            display: block;
            height: 20px;
            background-color: #1d252c;

        }
        .list-header li {
            display: block;
            width: 100%;
            border: 0.5px solid black;
        } */

        .cert-box {
            height: auto;
            min-width: auto;
            transform: scale(0.8);
        }

        .cert-sl, 
.cert-ap, 
.cert-pl {
    display: flex;
    flex-wrap: wrap;
}




}

@media screen and (max-width:510px) {
    .first-section {
        height: 400px;
    }
    .jobs-article {
        width: 375px;
        height: 210px;
        padding: 5px 10px 10px;
    }
    .cert-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .movi {
        height: 230px;
    }
    .orbi {
        height: 200px;
    }

    .cert-curso-img {
        width: 450px;
        height: 250px;
        }
}

@media screen and (max-width:420px) {
    .cert-ap,
    .cert-sl,
    .cert-pl {
        display: flex;
        flex-wrap: wrap;
    }
    .cert-box {
        height: inherit;
        width: 300px;
    }
    .first-section {
        display: block;
        height: 350px;
    }

    .cert-curso-img {
        width: 260px;
        height: 180px;
    }
    .cert-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .jobs {
    display: grid;
    justify-content: center;
    }

    .jobs-article {
        width: 280px;
        height: auto;
        display: block;
        padding: 5px;
        text-align: center;
        margin: 10px;
    }
    .jobs-clase {
        padding: 4px ;
        }
    }
    .first-section figure {
        margin: 0px;
    }
    .first-section img {
        margin: 0px;
    }
    .title-first-section {
        line-height: 35px;
        font-size: 22px;
        font-weight: 400;
        font-style: italic;
        margin: 5px 10px;
        padding: 5px 20px;
        color: white;
    }
}